/*
	If possible, use a web font and import it in the <head>.
	http://stackoverflow.com/a/12380004/1864403

	Otherwise, place your .woff font files in /public/fonts/ and use the code below.
	It's not recommended to use font files unless you have them in .woff format
	http://stackoverflow.com/a/22738998/1864403
*/

/*
@font-face {
	font-family: 'MyWebFont';
	src: url('webfont.woff') format('woff');
}
*/
@font-face{font-family:'Co Text Light';src:url("../fonts/cotext_std_lt-webfont.eot");src:url("../fonts/cotext_std_lt-webfont.eot?#iefix") format("embedded-opentype"),url("../fonts/cotext_std_lt-webfont.woff") format("woff"),url("../fonts/cotext_std_lt-webfont.ttf") format("truetype"),url("../fonts/cotext_std_lt-webfont.svg#co_textlight") format("svg");font-weight:normal;font-style:normal}@font-face{font-family:'Co Text Regular';src:url("../fonts/cotext_std_rg-webfont.eot");src:url("../fonts/cotext_std_rg-webfont.eot?#iefix") format("embedded-opentype"),url("../fonts/cotext_std_rg-webfont.woff") format("woff"),url("../fonts/cotext_std_rg-webfont.ttf") format("truetype"),url("../fonts/cotext_std_rg-webfont.svg#co_textregular") format("svg");font-weight:normal;font-style:normal}@font-face{font-family:'Co Text Bold';src:url("../fonts/cotext_std-webfont.eot");src:url("../fonts/cotext_std-webfont.eot?#iefix") format("embedded-opentype"),url("../fonts/cotext_std-webfont.woff") format("woff"),url("../fonts/cotext_std-webfont.ttf") format("truetype"),url("../fonts/cotext_std-webfont.svg#co_textbold") format("svg");font-weight:normal;font-style:normal}*{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}body{font-family:"Co Text Light", "Trebuchet MS" , Arial, Helvetica, sans-serif;font-style:normal;font-weight:normal;font-size:1em;line-height:1.4}@media (max-width: 375px){body{font-size:0.875em}}.h0,h1,.h1,h2,.h2,h3,.h3,h4,.h4,h5,.h5,h6,.h6{font-family:"Co Text Bold", "Trebuchet MS" , Arial, Helvetica, sans-serif;font-style:normal;font-weight:normal}
