/* Westfield Health */

/* VARIABLES */

/* Primary Colours */
$healthy-orange: #e94e1b;
$confident-grey: #5d686e;

/* Secondary Colours */
$open-blue: #89c7cf;
$warm-orange: #f38b00;
$refreshing-green: #a5c27e;
$grounded-purple: #94a4c6;
$background-grey: #e6ebee;
$responsible-grey: #8d979e;

/* Other Colours */
$white: #ffffff;
$black: #000000;
$btn-primary-active: #d14314;

$bkg-grey-01: #eeeeee; /* grey wrapper, table row, search results */
$bkg-grey-02: #cfd8d7; /* tab, main nav highlight, bottom border */
$bkg-grey-03: #f2f2f2; /* sub-nav (mobile), tab (mobile), table key */
$bkg-grey-04: #e1e4e3; /* section heading (mobile), banner text gradient (mobile) */
$bkg-grey-05: #f9f9f9; /* banner text gradient (mobile) */

$confident-grey-10: #eeeff0; /* confident grey 10% */
$confident-grey-20: #dfe1e2; /* confident grey 20% */
$confident-grey-30: #ced1d3; /* confident grey 30% */
$confident-grey-50: #aeb3b6; /* confident grey 50% */
$confident-grey-70: #8d979e; /* confident grey 70% */
$confident-grey-120: #485459; /* confident grey 120% */

/* 3rings alternative colours */
$refreshing-green-lite-10: lighten($refreshing-green, 10%);
$refreshing-green-dark-10: darken($refreshing-green, 10%);
$refreshing-green-dark-15: darken($refreshing-green, 15%);


$wrapperWidth        : 960px;
$wrapperBreakoutWidth: 120px;
$mobilePadding       : 15px;
$gutter              : 15px;
$maxCollistCols      : 5; // always make this number the lowest it needs to be, it greatly affects filesize
$bodyBackgroundColor : #F5F5F5;
$bodyTextColor       : #222;
$bodyFont            : "Co Text Regular", Helvetica, Arial, sans-serif;
$mainBackgroundColor : #FBFBFB;

$spacer: (
	none: 0px,
	xs : 5px,
	sm : 10px,
	md : 15px,
	lg : 20px,
	xl : 25px,
	xxl: 30px
);

$breakpoints: (
	xs     : 350px,
	sm     : 480px,
	md     : 768px,
	wrapper: $wrapperWidth + ($mobilePadding * 3),
	lg     : 1024px,
	xl     : 1440px,
	xxl    : 1920px
);

// colour name ideas - http://chir.ag/projects/name-that-color/#6195ED
$colors: (
	white-smoke: #FAFAFA,
	white: #FFFFFF,
	black: #000000,
	nero: #222222,
	red: #C1202B,
	red-light: #DD3340,
	ebony: #1C1F28,
	ebony-light: #313646,
	green: #BDC120,
	green-light: #DBDD32
);
